{% extends "base.html" %}

{% block content %}
<h1 class="mb-4">Пользователи</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>ФИО</th>
            <th>Почта</th>
            <th>Роль</th>
            <th>Дата регистрации</th>
        </tr>
    </thead>
    <tbody>
        {% for u in users %}
        <tr>
            <td>#{{ u.id }}</td>
            <td>{{ u.name }}</td>
            <td>{{ u.email }}</td>
            <td>
                {% if u.role == 'admin' %}<span class="badge badge-danger">Админ</span>
                {% elif u.role == 'lawyer' %}<span class="badge badge-primary">Юрист</span>
                {% else %}<span class="badge badge-secondary">Клиент</span>{% endif %}
            </td>
            <td>{{ u.created_date.strftime('%d.%m.%Y') if u.created_date else '-' }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}